.form {
    display: block;
    margin: 0 auto;
    width: 206px;

    &--list {
        margin: 0 20px;
    }

    &__input {
        display: block;
        width: 100%;
        height: 30px;
        margin-bottom: 10px;
        font: inherit;
        text-align: center;
        border: none;
        border-radius: 15px 15px 0 0;
        outline-color: #C88383;

        &::placeholder {
            font: inherit;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        display: block;
        width: 48%;
        height: 30px;
        font-weight: 300;
        background-color: #fff;
        border: none;
        cursor: pointer;

        &--left {
            border-radius: 0 0 0 15px;
        }

        &--right {
            border-radius: 0 0 15px 0;
        }

    }
}