* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #ececec;
  color: #713D3D;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

button {
  color: inherit;
  font: inherit;
}

.app {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}