.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
    margin-bottom: 20px;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.99);
    z-index: 2;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.6);
        transition: all .2s;
        
        .card__cross, .card__rename {
            visibility: visible;
            transition: all .1s;
        }
    }

    &:first-child {
        border-radius: 25px 25px 0 0;
    }

    &__wrapper {
        padding: 10px 7px;
    }

    &__text {
        display: inline-block;
        width: 88%;
        font-size: 21px;
        overflow: hidden;
        word-break: break-all;
    }

    &__cross {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin-bottom: 6px;
        background-color: transparent;
        cursor: pointer;
        visibility: hidden;
        transition: .1s;

        &:hover {
            background-color: rgb(212, 212, 212);
            transition: .1s;
        }
    }

}